<div class="slider project-slider white-text">
    <ul class="bxslider-project-page">
        <li class="active bxslider-project-li-03" data-image-bg="/images/project-wiser-info-bg.jpg">
            <div class="project-description">
                <div class="project-description-block">
                    <h2><img src="images/wiser-health-logo.png" alt="">wisertogether</h2>

                    <p>
                        Change the text to - The best and fastest solution for the cheapest treatment.
                    </p>
                    <ul class="links white">
                        <li class="link"><a href="https://www2.mywiserhealth.com/"></a></li>
                    </ul>
                </div>
            </div>

            <div class="project-visual">
                <span class="img-block img-block--wiser" data-image-bg="/images/project-wiser-info-img.png"></span>
            </div>
            <div data-projects-nav></div>
        </li>
    </ul>
    <a class="scroll-down" href="#about-project"></a>
</div><!-- /slider slogan-slider -->

<div id="about-project" class="about-project wiser-about gray-text white-bg">
    <div class="about-project-table">
        <div class="about-project-visual">
            <span class="img-block img-block--wiser-about" data-image-bg="/images/project-wiser-about-img.png"></span>
        </div>
        <div class="about-project-description">
            <div class="about-project-description-block">
                <h2>Search directory</h2>

                <p>
                    US medical system is very complex and can be very pricy. We developed a system which helps users to
                    explore treatments based on what is important for them, like clinical evidence and testimonials
                </p>
                <ul class="features-list">
                    <li>
                        <img src="images/pregnancy-icon.png" alt="">
                        <span>Pregnancy</span>
                    </li>
                    <li>
                        <img src="images/diabetes-icon.png" alt="">
                        <span>Diabetes</span>
                    </li>
                    <li>
                        <img src="images/mental-icon.png" alt="">
                        <span>Mental Health</span>
                    </li>
                    <li>
                        <img src="images/muscle-icon.png" alt="">
                        <span>Muscle</span>
                    </li>
                    <li>
                        <img src="images/heart-icon.png" alt="">
                        <span>Heart</span>
                    </li>
                    <li>
                        <img src="images/respiratory-icon.png" alt="">
                        <span>Respiratory</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- wiser-about -->


<div class="about-project gray-text wiser-lorem">
    <div class="about-project-table">
        <div class="about-project-description">
            <div class="about-project-description-block">
                <h2>Bullseye</h2>

                <p>
                    The treatment comparison is done through an innovative angular/python combination called bullseye.
                    Using modern technologies, we allow users to select and compare the different treatments, based on
                    their relevance. The bullseye is connected to a system which aggregates over 4 million survey
                    answers.
                </p>

                <p>
                    Advantages for using this methode
                </p>
            </div>
        </div>
        <div class="about-project-visual">
            <span class="img-block img-block--wiser-lorem" data-image-bg="/images/project-wiser-lorem-img.png"></span>
        </div>
    </div>
</div><!-- wiser-lorem -->


<div class="more-info-slider gray-text white-bg">
    <div class="more-info-slider-li more-info-slider-li-01 visual">
        <div projects-nav-bottom></div>
    </div>
</div><!-- /more-info-slider -->

<div class="project-footer">
    <span>Like what you see?</span>
    <a href="#" class="btn white-text red-bg"><span>GET IN TOUCH</span></a>
</div>

<footer id="footer" ng-include=" 'footer' "></footer>