<div class="slider project-slider white-text">
    <ul class="bxslider-project-page">
        <li class="active bxslider-project-li-01" data-image-bg="/images/project-rabadaba.jpg">
            <div class="project-description">
                <div class="project-description-block">
                    <h2><img src="images/rabadaba-rabbit.png" alt="">Rabadaba ApP</h2>
                    <p>
                        The social app where you get paid to share content
                    </p>
                    <ul class="links white">
                        <li class="apple"><a href="https://itunes.apple.com/us/app/rabadaba-earn-money-being/id1010620471?mt=8"></a></li>
                        <li class="android"><a href="https://play.google.com/store/apps/details?id=com.rabadaba.app"></a></li>
                        <li class="link"><a href="http://www.rabadaba.com/"></a></li>
                    </ul>
                </div>
            </div>
            <div class="project-visual">
                <span class="img-block img-block--rabadaba" data-image-bg="/images/project-rabadaba-main.png"></span>
            </div>
            <div data-projects-nav></div>
        </li>
    </ul>
    <a class="scroll-down" href="#about-project"></a>
</div><!-- /slider slogan-slider -->

<div id="about-project" class="about-project gray-text white-bg">
    <div class="about-project-table">
        <div class="about-project-visual">
            <span class="img-block img-block--rabadaba-about" data-image-bg="/images/rabadaba-about.png"></span>
        </div>
        <div class="about-project-description">
            <div class="about-project-description-block">
                <h2>about the rabadaba<br>project</h2>
                <p>
                    A social platform with a new concept, to<br>take the sharing of content to a new<br>level: getting paid for it directly.<br>We were involved in the design stages as<br>well as in the development.
                </p>
                <ul class="features-list">
                    <li>
                        <img src="images/photo-icon.png" alt="">
                        <span>photos</span>
                    </li>
                    <li>
                        <img src="images/video-icon.png" alt="">
                        <span>video</span>
                    </li>
                    <li>
                        <img src="images/audio-icon.png" alt="">
                        <span>audio</span>
                    </li>
                    <li>
                        <img src="images/text-icon.png" alt="">
                        <span>text</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- /about-project -->


<div class="about-project gray-text about-interaction">
    <div class="about-project-table">
        <div class="about-project-description">
            <div class="about-project-description-block">
                <h2>incentivized interaction</h2>
                <p>
                    Users receive Rabadaba currency for most of their interaction. This way promoting good content, and keeping it interesting is emphasized. It leads to higher revenues after all.
                </p>
                <ul class="features-list">
                    <li>
                        <img src="images/post-icon.png" alt="">
                        <span>Post</span>
                    </li>
                    <li>
                        <img src="images/redab-icon.png" alt="">
                        <span>Redab</span>
                    </li>
                    <li>
                        <img src="images/vote-icon.png" alt="">
                        <span>Vote</span>
                    </li>
                    <li>
                        <img src="images/flag-icon.png" alt="">
                        <span>Flag</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="about-project-visual visual-about-interaction">
            <span class="img-block img-block--rabadaba-more-info"></span>
        </div>
    </div>
</div><!-- about-interaction -->

<div id="about-project" class="about-project about-currency gray-text white-bg">
    <div class="about-project-table">
        <div class="about-project-visual">
            <!-- <span class="img-block img-block--rabadaba-currency"></span> -->
        </div>
        <div class="about-project-description">
            <div class="about-project-description-block">
                <h2>it’s own currency</h2>
                <p>
                    They have their own currency that can be<br>translated into normal currency monthly.<br>Maybe explore the benefits?
                </p>
                <p>
                    <img src="images/currency.png" alt="">
                </p>

            </div>
        </div>
    </div>
</div><!-- /about-currency -->

<div id="about-project" class="about-project rabadaba-about-share gray-text white-bg">
    <div class="about-project-table">
        <div class="about-project-description">
            <div class="about-project-description-block">
                <h2>Content is shareable<br>on multiple networks</h2>
                <p>

                </p>
            </div>
        </div>
        <div class="about-project-visual">
            <span class="img-block img-block--rabadaba-share-info" data-image-bg="/images/rabadaba-share-img.png"></span>
        </div>
    </div>
</div><!-- /about-share -->

<div id="about-project" class="about-project rabadaba-about-branding gray-text white-bg">
    <div class="about-project-table">
        <div class="about-project-visual">
            <span class="img-block img-block--rabadaba-branding"></span>
        </div>
        <div class="about-project-description">
            <div class="about-project-description-block">
                <h2>Branding reconception<br>and logo redesign</h2>
                <!--<p>

               </p>-->
            </div>
        </div>
    </div>
</div><!-- /about-branding -->

<div id="about-project" class="about-project rabadaba-about-icon gray-text" data-image-bg="/images/rabadaba-icon-bg.png">
    <div class="about-project-table">
        <div class="about-project-description">
            <div class="about-project-description-block">
                <h2>Appicon &amp;<br>stylesheets</h2>
               <!--<p>

                </p>-->
                <p>
                    <img src="images/rabadaba-icons.png" alt="">
                </p>
            </div>
        </div>
        <div class="about-project-visual">
            <span class="img-block img-block--rabadaba-icon-info"></span>
        </div>
    </div>
</div><!-- /about-icon -->

<div id="about-project" class="about-project rabadaba-about-nav gray-text white-bg">
    <div class="about-project-table">
        <div class="about-project-visual">
            <span class="img-block img-block--rabadaba-nav"></span>
        </div>
        <div class="about-project-description">
            <div class="about-project-description-block">
                <h2>Navigation</h2>
                <p>
                    The navigation was thought out to make<br>it easy to discover new content. Ther<br>Rabbithole concept makes it easy to<br>diverge from the content you’re viewing<br>to other related posts.
                </p>
            </div>
        </div>
    </div>
</div><!-- /about-nav -->

<div class="more-info-slider gray-text white-bg">
    <div class="more-info-slider-li more-info-slider-li-01 visual">
        <div projects-nav-bottom></div>
    </div>
</div><!-- /more-info-slider -->

<div class="project-footer">
    <span>Like what you see?</span>
    <a href="#" class="btn white-text red-bg"><span>GET IN TOUCH</span></a>
</div>

<footer id="footer" ng-include=" 'footer' "></footer>