<div class="slider project-slider white-text">
    <ul class="bxslider-project-page">
        <li class="active bxslider-project-li-02" data-image-bg="/images/project-sportxast-info-bg.jpg">
            <div class="project-visual">
                <span class="img-block img-block--sportxast" data-image-bg="/images/project-sportxast-info.png"></span>
            </div>

            <div class="project-description">
                <div class="project-description-block">
                    <h2><img class="vam" src="images/sportxast-logo.png" alt="">Sportxast app</h2>
                    <p>
                        View, capture and share :08 second clips<br>from matches. Get discovered.
                    </p>
                    <ul class="links white">
                        <li class="apple"><a href="https://itunes.apple.com/us/app/sportxast-record-stream-sports/id738768889?mt=8"></a></li>
                        <li class="android"><a href="https://play.google.com/store/apps/details?id=com.sportxast.SportXast"></a></li>
                        <li class="link"><a href="http://sportxast.com/"></a></li>
                    </ul>
                </div>
            </div>
            <div data-projects-nav></div>
        </li>
    </ul>
    <a class="scroll-down" href="#about-project"></a>
</div><!-- /slider slogan-slider -->

<div id="about-project" class="about-project gray-text sportxast-about-time">
    <div class="about-project-table">
        <div class="about-project-description">
            <div class="about-project-description-block">
                <h2>turn back time feature</h2>
                <p>With this unique feature you can view a game and record<br>the last :08 seconds of a game.</p>
                <p>Advantages for using this method</p>
                <ul class="sportxast-list">
                    <li>No need to record a full game and then select 			clips.</li>
                    <li>Low memory usage</li>
                </ul>
            </div>
        </div>

        <div class="about-project-visual">
            <span class="img-block img-block--sportxast-about-time"></span>
        </div>
    </div>
</div>


<div class="about-project gray-text sportxast-experience">
    <div class="about-project-table">
        <div class="about-project-visual visual-about-interaction">
            <span class="img-block img-block--sportxast-experience" data-image-bg="/images/project-sportxast-experience-img.png"></span>
        </div>
        <div class="about-project-description">
            <div class="about-project-description-block">
                <h2>experience the play</h2>
                <p>
                    When checked in at a game, you can view live updates<br>from the people recording . This way you can see a pass<br>from different angles!<br>Think of it as “party mode” for sports clips.
                </p>
            </div>
        </div>
    </div>
</div><!-- sportxast-experience -->

<div id="about-project" class="about-project sportxast-share gray-text white-bg">
    <div class="about-project-table">
        <div class="about-project-description">
            <div class="about-project-description-block">
                <h2>share the excitement</h2>
                <!--<p>

               </p>-->

            </div>
        </div>
        <div class="about-project-visual">
            <span class="img-block img-block--sportxast-share" data-image-bg="/images/project-sportxast-share-img.png"></span>
        </div>
    </div>
</div><!-- sportxast-share-->

<div id="about-project" class="about-project sportxast-nearby gray-text white-bg">
    <div class="about-project-table">
        <div class="about-project-visual">
            <span class="img-block img-block--sportxast-nearby" data-image-bg="/images/project-sportxast-nearby-img.png"></span>
        </div>
        <div class="about-project-description">
            <div class="about-project-description-block">
                <h2>view nearby & most<br>popular events</h2>
                <!--<p>

               </p>-->
            </div>
        </div>
    </div>
</div><!-- sportxast-nearby-->

<!--
<div id="about-project" class="about-project sportxast-add gray-text white-bg">
    <div class="about-project-table">

        <div class="about-project-description">
            <div class="about-project-description-block">
                <h2>something dev<br>related</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. ullamco laboris nisi ut aliquip ex ea commodo
                </p>
            </div>
        </div>
        <div class="about-project-visual">
        -->
            <!-- <span class="img-block img-block--rabadaba-branding"></span> -->
       <!-- </div>
    </div>
</div><!-- sportxast-add-->



<div class="more-info-slider gray-text white-bg">
    <div class="more-info-slider-li more-info-slider-li-01 visual">
        <div projects-nav-bottom></div>
    </div>
</div><!-- /more-info-slider -->

<div class="project-footer">
    <span>Like what you see?</span>
    <a href="#" class="btn white-text red-bg"><span>GET IN TOUCH</span></a>
</div>

<footer id="footer" ng-include=" 'footer' "></footer>