<div class="contact-popup" ng-include=" 'contact-popup' "></div>
<header id="header" ng-include=" 'header' "></header>

<div id="top-partition" class="main" ng-class="partition" app-vs-web-s>

    <!-- popups-block -->
    <div class="app-vs-web-block">
        <ul class="app-vs-web-ico">
            <li class="app"><span></span></li>
            <li class="web"><span></span></li>
        </ul>
        <h2>APP VS. WEBSITE</h2>

        <p>which is right for my project?</p>
        <span ng-click="goHandler('step1')" class="btn white-text red-bg popup-click"><span>start</span></span>

        <div id="popups-container" popups-survey-app-vs-web="app-vs-web"></div>
    </div>
</div>

<a class="scroll-up" href="#top-partition"></a>
<footer id="footer" ng-include=" 'footer' "></footer>
					