<header class="contact-popup-header">
    <span class="logo"><a href="#">webeffects</a></span>
    <button  class="popup-close  popup-close-contact" aria-label="Close" data-dismiss="alert" class="close" type="button">
        <i class="icon icon-no"></i>
    </button>

    <h2>drop us a line!</h2>

    <div class="contact-box desktop-show">
        <p class="slogan">Tell us what you need or just send an email at <a href="#">contact@webeffects.us</a>
            and<br> we’ll get in touch as soon as possible</p>

        <form action="#">
            <fieldset>
                <h4>
                    Hi, my name is <input placeholder="Raluca Mitarca" type="text" value="" class="name"> and I'd like to chat
                    about a <input placeholder="website" type="text" value="" class="website"> project.<br>
                    You can reach me by calling at <input placeholder="0987 654 432" type="tel" value="" class="tel"> or
                    emailing me at <input placeholder="raluca@me.com" type="email" value="" class="email">.
                </h4>
                <br>
                <input type="submit" value="send" class="btn red-text white-bg">
            </fieldset>
        </form>
    </div>
    <div class="mobile-show">
        <p>Want to get it touch?<br>
            Give us a call or email us and we’ll get in touch<br>
            as soon as possible
        </p>
        <ul class="contact-info">
            <li><span>+4 0771 012 121</span></li>
            <li><span>contact@webeffects.us </span></li>
        </ul>
    </div>
</header>
<div class="contact-map">
    <img class="mini-img" src="images/contact-map-mini.gif" alt="image_description">
    <img class="zoom-img" src="images/contact-map.gif" alt="image_description">
    <span class="map-zoom"></span>
</div>