<div class="footer-info">
    <ul>
        <li ng-hide="hideFotterTerms"><a href="#">terms and conditions</a></li>
        <li ng-hide="hideFooterDesclimer"><a href="#">disclaimer</a></li>
        <li class="desktop-show"><a href="https://www.facebook.com/Webeffects-INC-202790543069425/" class="f"></a></li>
        <li class="desktop-show"><a href="https://twitter.com/webeffectsinc" class="t"></a></li>
    </ul>
</div><!-- /footer-info -->


<div class="footer-copy">
    <span>ALL RIGHT RESERVED BY WEBEFFECTS</span>
</div><!-- /footer-copy -->

<div ng-hide="hideFooterCities" class="footer-links">
    <ul>
        <li><a href="#">NEW YORK</a></li>
        <li><a href="#">WASHINGTON DC</a></li>
        <li><a href="#">SPAIN</a></li>
        <li><a href="#">LONDON</a></li>
        <li><a href="#">TENNESSEE</a></li>
    </ul>
</div>