<h1 class="logo"><a href="#home">webeffects</a></h1>
<span class="navigation_opener" mobile-menu></span>
<nav class="navigation" ng-controller="app.navigation">
    <ul>
        <li ng-class="buttons.services ? 'current-menu-item' : ''">
            <a href="#services" ng-class="buttons.services ? 'animation' : ''">SERVICES</a>
        </li>
        <li ng-class="buttons.app_vs_web ? 'current-menu-item' : ''">
            <a href="#app-vs-web" ng-class="buttons.app_vs_web ? 'animation' : ''">APP VS WEB?</a>
        </li>
        <li ng-class="buttons.how_much ? 'current-menu-item' : ''">
            <a href="#how-much" ng-class="buttons.how_much ? 'animation' : ''">HOW MUCH?</a>
        </li>
        <li ng-class="buttons.portfolio ? 'current-menu-item' : ''">
            <a href="#portfolio" ng-class="buttons.portfolio ? 'animation' : ''">OUR WORK</a>
        </li>
        <li ng-class="buttons.team ? 'current-menu-item' : ''">
            <a href="#team" ng-class="buttons.team ? 'animation' : ''">TEAM</a>
        </li>
        <li>
            <a href="http://blog.webeffectsnetwork.com/">BLOG</a>
        </li>
        <li class="mobile-show social">
            <a href="#" class="f"></a><a href="#" class="t"></a>
        </li>
    </ul>
</nav>
<span class="contact" contact-popup><span>CONTACT</span></span>