<div class="contact-popup" ng-include=" 'contact-popup' "></div>
<header id="header" ng-include=" 'header' "></header>

<div id="top-partition" class="main" ng-class="partition">
    <div class="home-slider slider slogan-slider white-text align-center animation">
        <div class="project__clip" slogans>
            <div id="yt-home-page">
                <img data-image-img="/images/bg-image02.jpg" class="placeholder-image" alt="">
            </div>
        </div>

        <div class="bx-wrapper" ng-show="showShild">
            <div class="bx-viewport">
                <ul class="bxslider-slogan">
                    <li>
                        <img data-image-img="images/add-logo.png" alt="image_description">

                        <h2 class="title opacity-09">More Than Software</h2>
		  						<span class="small-text uppercase-text bold-text opacity-08">
		  							Beyond development of sites, software and mobile apps...We are listeners, strategists, developers, consultants and problem solvers.
<br>
									Because creating quality software is easy… it’s what comes before and after that makes the difference.
								</span>

                    </li>
                </ul>
            </div>
        </div>

        <a class="scroll-down" href="#team-start-believe"></a>

    </div>
    <!-- /slider slogan-slider -->
    <div id="team-start-believe" class="section-convert section-height">
        <section class="team-start gray-text white-bg align-center">
            <h2 class="title ico opacity-09">THE TEAM FOR<br class="mobile-show"> STARTUPS</h2>

            <div class="content-wrapper">
                <p class="opacity-08">
                    If you are starting a new business, finding the right development partner can be challenging.
                    Choosing
                    the wrong one could be devastating. No matter how big or how small your company is, we will work
                    with
                    you every step of the way to make your ideas come to life.
                </p>

                <p class="opacity-08">
                    Our aim is to provide a one-stop shop for your business ideas. We specialise in both the creation of
                    high quality web and mobile apps as well as consulting for your overall business strategy and
                    development-- including branding and marketing.
                </p>

                <p class="opacity-08">
                    And for us, success isn’t measured just by the delivery of great software. It is measured by the
                    long
                    term success of your business.
                </p>
            </div>
            <br>
            <a href="#team" class="btn white-text red-bg"><span>Check out the teAM</span></a>
        </section>
        <!-- /team-start -->

        <section class="believe white-text red-bg align-center">
            <h2 class="title ico  opacity-09">We believe in you</h2>

            <div class="content-wrapper">
                <p class="opacity-08">
                    With the right guidance, every idea can become a success. However, the chances of making it alone
                    are
                    very low. You need someone who believes in you and your business, someone who is willing to help you
                    along the way.

                </p>

                <p class="opacity-08">
                    Somebody you can trust.
                </p>

                <p class="opacity-08">
                    At Webeffects, we work closely with our clients from day one until we are confident you are on the
                    road
                    to success. Whether you are a new startup or a successful company looking to take it to the next
                    level &mdash; we are here for you.
                </p>
            </div>
        </section>
        <!-- /"believe -->
    </div>
    <!-- /team-start-believe -->

    <div class="paralax-slider gray-text white-bg" animation-slides-home parallax-nav>
        <ul id="nav">
            <li class="section-01"><a href="#intro" title="Next Section"></a></li>
            <li class="section-02"><a href="#second" title="Next Section"></a></li>
            <li class="section-03"><a href="#third" title="Next Section"></a></li>
        </ul>
        <div id="intro" class="gray-text white-bg">
            <div class="project__clip">
                <div class="project__clip-holder">
                    <div class="phone-bg">
                        <img src="images/nexus-android.png" alt="image_description">

                        <div class="video-wrapper">
                            <video autoplay="" loop="">
                                <source src="video/rabadaba.mp4" type="video/mp4">
                                <source src="video/rabadaba.webm" type="video/webm">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-table">
                <div class="project-title">
                    <h2 class="title">Rabadaba</h2>
                    <ul class="links">
                        <li><a class="apple" href="#"></a></li>
                        <li><a class="android" href="#"></a></li>
                        <!-- <li><a class="link" href="#"></a></li> -->
                    </ul>
                </div>
                <div class="project-visual"></div>
                <div class="project-description">
                    <!-- <h3 class="">Lorem ipsum dolor</h3> -->
                    <p class="opacity-project">The social app where you get paid to share content</p>
                </div>
            </div>
        </div>

        <div id="second" class="white-text red-bg">
            <div class="project__clip">
                <div class="project__clip-holder">
                    <div class="phone-bg">
                        <img src="images/iphone.png" alt="image_description">

                        <div class="video-wrapper">
                            <video autoplay loop>
                                <source src="video/sportxast.mp4" type="video/mp4">
                                <source src="video/sportxast.webm" type="video/webm">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-table">
                <div class="project-title">
                    <h2 class="title">sportxast</h2>
                    <ul class="links">
                        <li><a class="apple" href="#"></a></li>
                        <li><a class="android" href="#"></a></li>
                        <!-- <li><a class="link" href="#"></a></li> -->
                    </ul>
                </div>
                <div class="project-visual"></div>
                <div class="project-description">
                    <h3>get discovered</h3>

                    <p class="opacity-project">View, capture and share :08 <br> second clips from matches. <br> Get
                        discovered.</p>
                </div>
            </div>
        </div>


        <div id="third" class="gray-text white-bg">
            <div class="project__clip">
                <div class="project__clip-holder">
                    <div class="phone-bg">
                        <img src="images/imac.png" alt="image_description">

                        <div class="video-wrapper">
                            <video autoplay loop>
                                <source src="video/wiserhealth.mp4" type="video/mp4">
                                <source src="video/wiserhealth.mp4.webm" type="video/webm">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-table">
                <div class="project-title">
                    <h2 class="title">wisertogether</h2>
                    <ul class="links">
                        <li><a class="apple" href="#"></a></li>
                        <li><a class="android" href="#"></a></li>
                        <!-- <li><a class="link" href="#"></a></li> -->
                    </ul>
                </div>
                <div class="project-visual"></div>
                <div class="project-description">
                    <h3>find your best treatment plan</h3>

                    <p class="opacity-project">
                        wiser together helps clients <br>discover the best and most <br>affordable
                        medical insurance plan
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div id="want-see-more-gallery" class="section-convert">
        <div class="want-see-more white-text red-bg align-center">
            <p class="opacity-08">
                Want to see more? View the rest<br class="mobile-show"> of our work in the portfolio.
            </p>
            <br>
            <a href="#portfolio" class="btn red-text white-bg"><span>See our work</span></a>
        </div>
        <!-- /want-see-more -->


        <section class="gallery grey-text white-bg align-center active section-height" gallery-home>
            <div class="gallery-content">
                <section class=" basic active">
                    <h2 class="title ico gray-text ">our process</h2>

                    <p class="opacity-08">
                        Making our clients’ lives easier and <br>their businesses better &mdash; every step of the way.
                    </p>
                </section>
                <section class="gallery-section-connect">
                    <h2 class="title ico red-text opacity-09">Connect</h2>
                    <img src="images/gallery-ico01.png" alt="image_description">

                    <div class="content-wrapper">
                        <p class="opacity-08">
                            The journey starts with our experts working with you to understand your business, the
                            competition and develop a targeted feasible business plan. We want to understand your
                            vision,
                            your challenges. We want to know what keeps you up at night. Getting to this point can also
                            include market study, strategy development, product documentation and an ongoing marketing
                            plan.
                        </p>

                        <p class="opacity-08">
                            We will define the deliverables and produce a roadmap for your success with a timeline that
                            makes it easy for you to alway know exactly where we are. We will address anything that we
                            think
                            may interfere with your business success and suggest real solutions to tackle those
                            challenges.
                        </p>
                    </div>
                </section>
                <section class="gallery-section-brainstorm">
                    <h2 class="title ico red-text  opacity-09">brainstorm</h2>
                    <img src="images/gallery-ico02.png" alt="image_description">

                    <div class="content-wrapper">
                        <p class="opacity-08">
                            The second step involves brainstorming and wireframing for the perfect user experience,
                            because
                            the clients are the core of any business. This gives us an opportunity to understand your
                            target
                            customer segment and make sure that they will find you, and also that when they do they have
                            a
                            memorable and positive experience that brings them back again and again.
                        </p>
                    </div>
                </section>
                <section class="gallery-section-develop">
                    <h2 class="title ico red-text  opacity-09">Develop</h2>
                    <img src="images/gallery-ico03.png" alt="image_description">

                    <div class="content-wrapper">
                        <p class="opacity-08">
                            Once we have defined the needs of you and your customers, we can start on the development of
                            your new system, using the latest market technologies. Throughout this process, we will
                            continue
                            to give regular demos and updates with you to ensure complete alignment. Also, during the
                            development process our team of business analysts will continue to supervise and assess the
                            progress for maximum profitability.
                        </p>
                    </div>
                </section>
                <section class="gallery-section-deliver">
                    <h2 class="title ico red-text  opacity-09">Deliver</h2>
                    <img src="images/gallery-ico04.png" alt="image_description">

                    <div class="content-wrapper">
                        <p class="opacity-08">
                            The final step before the launch includes a thorough testing process to uncover any
                            remaining
                            issues, glitches or bugs. We will not rest until our solution is flawless and ready for your
                            customers.
                        </p>
                    </div>
                </section>
                <section class="gallery-section-launch">
                    <h2 class="title ico red-text  opacity-09">launch</h2>
                    <img src="images/gallery-ico05.png" alt="image_description">

                    <div class="content-wrapper">
                        <p class="opacity-08">
                            Rather than the last step, this is where everything really begins &mdash; go live.. At this
                            point, we supervise the product, analyse the user experience and make sure everything is
                            working
                            as intended.
                        </p>
                    </div>
                </section>
            </div>
            <div class="gallery-control red-text ">
                <div class="gallery-control-block gallery-control-block-connect">COnnect</div>
                <div class="gallery-control-block gallery-control-block-brainstorm">brainstorm</div>
                <div class="gallery-control-block gallery-control-block-develop">Develop</div>
                <div class="gallery-control-block gallery-control-block-deliver">Deliver</div>
                <div class="gallery-control-block gallery-control-block-launch">Launch</div>
            </div>

        </section>
        <!-- /gallery -->
    </div>
    <div id="video-testimonials" class="section-convert white-bg section-height">
        <div class="section-height-table">
            <!--
            <div class="video">
                <img class="video-img" data-image-img="images/video-img.jpg" src="" alt="image_description">
                <img class="video-img-mobile" data-image-img="images/video-img-mobile.jpg" src=""
                     alt="image_description">
            </div>--><!-- /video -->
            <section class="testimonials gray-text white-bg align-center" data-slogans><h3
                    class="title  opacity-09 desktop-show">what our clients say</h3>
                <q class="testimonial opacity-09">
                    <h3 class="title  opacity-09 mobile-show">what our clients say</h3>
                    <span class="opacity-08">
                        It was a pleasure doing this project with WebEffects.
                    </span>
                    <span class="opacity-08">
                        In the contractor selection, they were the only company that referred to specific requirements. They also came up with a solution direction. It all made a professional impression.
                    </span>
                     <span class="opacity-08">
                        During the process the communication was very good and they responded to my questions as I expect from a contractor.
                     </span>
                    <span class="opacity-08">
                        The project duration was longer than agreed in advance, but the specs were a bit changed during this project. So that is not an issue.
                     </span>
                    <span class="opacity-08">
                        Thanks for the pleasant corporation.
                     </span>
                    <span class="author opacity-08">
                        <span class="red-text">Jan</span>
                    </span>
                </q>
                <q class="testimonial opacity-09">
                    <h3 class="title  opacity-09 mobile-show">what our clients say</h3>
                        <span class="opacity-08">
                            Excellent work. We were extremely pleased with Webeffects and we'll use them again in the near future. They had the best prices and best service.  Highly recommended. Thank you to the owner Vio and his entire staff for their expert, loving and diligent work.
                        </span>
                    <span class="author opacity-08">
                        <span class="red-text">Alex</span>
                    </span>
                </q>
                <q class="testimonial opacity-09">
                    <h3 class="title  opacity-09 mobile-show">what our clients say</h3>
                        <span class="opacity-08">
                            It was a pleasure working with the WebEffects team. I myself am in the software development business and I was quite impressed with their quality and communication. They work with you and you will appreciate how they go the extra mile to satisfy your project's requirements. I will most certainly come back to them again.
                        </span>
                </q>
                <q class="testimonial opacity-09">
                    <h3 class="title  opacity-09 mobile-show">what our clients say</h3>
                        <span class="opacity-08">
                            It was a pleasure working with WebEffects. They have  the best and most skilled front end developers I have ever met. They will deliver high quality pixel perfect work. I will be hiring them for all my future front end developments
                        </span>
                </q>

            </section><!-- /testimonials -->
        </div>
    </div>
    <!-- /video-testimonials -->
    <section class="drop-us-a-line white-text red-bg align-center section-height"
             data-image-bg="/images/bg-image03.jpg">
        <div class="drop-us-a-line-height">
            <h2 class="title ico opacity-08">drop us a line!</h2>

            <div class="desktop-show">
                <p class=" opacity-08">
                    Tell us what you need and we’ll get in touch<br> as soon as possible
                </p>

                <form action="#">
                    <fieldset>
                        <h4>
                            Hi, my name is <input type="text" value="" class="name"> and I'd like to chat
                            about a <input type="text" value="" class="website"> project.<br>
                            You can reach me by calling at <input type="tel" value="" class="tel"> or
                            emailing me at <input type="email" value="" class="email">
                        </h4>
                        <br>
                        <input type="submit" value="send" class="btn red-text white-bg">
                    </fieldset>
                </form>
            </div>
            <div class="mobile-show">
                <p class=" opacity-08">
                    Want to get it touch?<br>Give us a call
                </p>
                <span class="tel-ico">+4 0771 012 121</span>
            </div>
        </div>
    </section>
    <!-- /drop-us-a-line -->
    <footer id="footer" ng-include=" 'footer' "></footer>
</div>
<!-- /main home -->
<a class="scroll-up" href="#top-partition"></a>
