<div class="contact-popup" ng-include=" 'contact-popup' "></div>
<header id="header" ng-include=" 'header' "></header>

<div class="main" ng-class="partition">
    <div class="how-much-block">
        <h2 class="ico">how much to <br>build an app?</h2>
        <p>Easily calculate the cost of a mobile<br> application using this handy tool</p>
        <span ng-click="goHandler('step2')" class="btn white-text red-bg popup-click"><span>start</span></span>

        <div id="popups-container" popups-survey="how-much"></div>
    </div>
</div><!-- /main home -->

<a class="scroll-up" href="#header"></a>
<footer id="footer" ng-include=" 'footer' "></footer>