<div class="contact-popup" ng-include=" 'contact-popup' "></div>
<header id="header" ng-include=" 'header' "></header>

<div id="top-partition" class="main portfolio" data-ng-class="project ? 'project' : 'portfolio'" ng-include="project">
</div><!-- /main home -->

<a class="scroll-up" href="#top-partition"></a>