<div class="portfolio-li portfolio-li-01 white-text red-bg" data-image-bg="/images/portfolio-img01.jpg">
    <div class="portfolio-description">
        <div class="portfolio-description-block">
            <h2><img src="images/rabadaba-rabbit.png" alt="">Rabadaba ApP</h2>

            <p>
                The social app where you get paid to share content
            </p>
            <a href="#portfolio/project1" class="btn red-text white-bg"><span>VIEW PROJECT</span></a>
            <br>
            <ul class="links white">
                <li class="apple"><a href="https://itunes.apple.com/us/app/rabadaba-earn-money-being/id1010620471?mt=8"></a></li>
                <li class="android"><a href="https://play.google.com/store/apps/details?id=com.rabadaba.app"></a></li>
                <li class="link"><a href="http://www.rabadaba.com/"></a></li>
            </ul>
        </div>
    </div>
    <div class="portfolio-visual">
        <span class="img-block"></span>
    </div>
</div>

<div class="portfolio-li portfolio-li-02 white-text red-bg" data-image-bg="/images/portfolio-img02.jpg">
    <div class="portfolio-visual">
        <!--<span class="img-block"></span>-->
    </div>
    <div class="portfolio-description">
        <div class="portfolio-description-block">
            <h2><img class="vam" src="images/sportxast-logo.png" alt="">Sportxast app</h2>

            <p>
                View, capture and share :08 second clips<br> from matches. Get discovered.
            </p>
            <a href="#portfolio/project2" class="btn red-text white-bg"><span>VIEW PROJECT</span></a>
            <br>
            <ul class="links white">
                <li class="apple"><a href="https://itunes.apple.com/us/app/sportxast-record-stream-sports/id738768889?mt=8"></a></li>
                <li class="android"><a href="https://play.google.com/store/apps/details?id=com.sportxast.SportXast"></a></li>
                <li class="link"><a href="http://sportxast.com/"></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="portfolio-li portfolio-li-03 white-text red-bg" data-image-bg="/images/portfolio-img03.jpg">
    <div class="portfolio-description">
        <div class="portfolio-description-block">
            <h2><img src="images/wiser-health-logo.png" alt="">wisertogether</h2>

            <p>
                Discover your best and cheapest treatment in time.
            </p>
            <a href="#portfolio/project3" class="btn red-text white-bg"><span>VIEW PROJECT</span></a>
            <br>
            <ul class="links white">
                <!--<li class="apple"><a href="#"></a></li>-->
                <!--<li class="android"><a href="#"></a></li>-->
                <li class="link"><a href="https://www2.mywiserhealth.com/"></a></li>
            </ul>
        </div>
    </div>
    <div class="portfolio-visual">
        <!--<span class="img-block"></span>-->
    </div>
</div>
<div class="portfolio-footer">
    <span>Like what you see?</span>
    <a href="#" class="btn white-text red-bg"><span>GET IN TOUCH</span></a>
</div>

<footer id="footer" ng-include=" 'footer' "></footer>