<div class="contact-popup" ng-include=" 'contact-popup' "></div>
<header id="header" ng-include=" 'header' "></header>

<div class="main" ng-class="partition" services-slides>
    <div class="services-slider" slogans>
        <ul class="bxslider-services slider gray-text">
            <li class="services-slide services-slide-01">
                <div class="slide-visual">
                    <img src="" data-image-img="images/services-slide-img01.png" alt="image_description">
                </div>
                <div class="slide-description">
                    <h2>Branding</h2>

                    <p>
                        Before progressing to the development phase, your idea needs analysing in order to develop and
                        create your vision. This is the branding process. It can also be described as taking your idea,
                        put it in a oven and expecting the final result. WebEffects is here to add all the ingredients
                        to make it successful: strategy, business development, company goals, company mission, market
                        evaluation.
                    </p>
                </div>
            </li>
            <li class="services-slide services-slide-02">
                <div class="slide-visual">
                    <img src="" data-image-img="images/services-slide-img02.png" alt="image_description">
                </div>
                <div class="slide-description">
                    <h2>User Experience</h2>

                    <p>
                        WebEffects is happy to work with the clients depending on the needs of their respective
                        businesses.
                    </p>
                </div>
            </li>
            <li class="services-slide services-slide-03">
                <div class="slide-visual">
                    <img src="" data-image-img="images/services-slide-img03.png" alt="image_description">
                </div>
                <div class="slide-description">
                    <h2>User Interface</h2>

                    <p>
                        In the online world, either web or mobile, user interaction with the product is one of the key
                        success drivers and as such needs to be flawless. Starting from a simple click, to a checkout
                        process, at WebEffect, we guarantee that special attention will be given to every small detail
                        to ensure that the experience is unique. Our belief: “If a button needs a tutorial, it is
                        useless”

                    </p>
                </div>
            </li>
            <li class="services-slide services-slide-04">
                <div class="slide-visual">
                    <img src="" data-image-img="images/services-slide-img04.png" alt="image_description">
                </div>
                <div class="slide-description">
                    <h2>Polish</h2>

                    <p>
                        Regardless of how interactive the site, the risk of failure increases by 75% if the design and
                        feeling is not elegant, professional and adapted to your business. Therefore, using the latest
                        trends, we make sure that no matter what devices the customers are using, they will fall in love
                        with your business right from the start.

                    </p>
                </div>
            </li>
            <li class="services-slide services-slide-05">
                <div class="slide-visual">
                    <img src="" data-image-img="images/services-slide-img05.png" alt="image_description">
                </div>
                <div class="slide-description">
                    <h2>Functionality</h2>

                    <p>
                        <span class="block">What was the first thing you did when you saw a site loading in more than 3 seconds?
How about when you clicked on a link and it did not work? </span><br>
                        In business and software development, paying attention to every detail is crucial. Your software
                        needs to be optimised using the latest technology, regardless of the platform: Angular,
                        Backbone, Node.js, Python, Ruby, or Swift and Android. The site needs to follow simple
                        standards: load fast, function without errors and give the user the feeling of being safe. If
                        you accomplish this, your business will increase the success rating by minimum 50%.

                    </p>
                </div>
            </li>
            <li class="services-slide services-slide-06">
                <div class="slide-visual">
                    <img src="" data-image-img="images/services-slide-img06.png" alt="image_description">
                </div>
                <div class="slide-description">
                    <h2>Marketing</h2>

                    <p>
                        At WebEffects, we believe that marketing is very important to any business. We aim to work with
                        the clients on the target customer profile and conduct the research accordingly. We will then
                        create a feasible marketing plan with all the relevant data to ensure the successful launch of
                        the product in the chosen market.

                    </p>
                </div>
            </li>
            <li class="services-slide services-slide-07">
                <div class="slide-visual">
                    <img src="" data-image-img="images/services-slide-img07.png" alt="image_description">
                </div>
                <div class="slide-description">
                    <h2>Full-time</h2>

                    We offer a full service package from the idea development to the planning phase, to the branding and
                    product development, to the launch and after-sales service, including the handover and training of
                    permanent staff.
                </div>
            </li>
        </ul>
        <!-- /slider slogan-slider -->
    </div>
</div>
<a class="scroll-up" href="#header"></a>
<footer id="footer" ng-include=" 'footer' "></footer>