<div class="popup popup-budget {{surveyOpened == 'question' ? 'popup-opener':  ''}}">
    <span class="popup-bg"></span>
    <div class="popup-block">
        <h2 ng-bind-html="survey.title"></h2>
        <button class="popup-close" aria-label="Close" data-dismiss="alert" class="close" type="button" data-ng-click="surveyClose()">
            <i class="icon icon-no"></i>
        </button>
        <p ng-bind-html="survey.description" class="width-popup-txt"></p>
        <ul class="list-icons max-list-icons yes-or-not list-unstyled">
            <li class="no" ng-repeat="answer in survey.answers" ng-click="goHandler(answer.step, survey.name, answer.index)">
                <i class="icon" ng-class="answer.icon"></i>
                <span class="txt-list-icon">{{answer.title}}</span>
            </li>
        </ul>
    </div>
</div>
<div ng-include="'survey_summary_app_vs_web'"></div>