<div id="popup" class="price popup {{surveyOpened == 'summary' ? 'popup-opener':  ''}}">
    <span  class="popup-bg"></span>
    <div class="popup-block">

        <h4>Your app estimate</h4>
        <span class="price">{{total}}$</span>
        <button  class="popup-close" aria-label="Close" data-dismiss="alert" class="close" type="button" data-ng-click="surveyClose()">
            <i class="icon icon-no"></i>
        </button>
        <span class="popup-refresch"></span>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do<br>
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim<br>
            ad minim veniam, quis nostrud. exercitation ullamco laboris nisi ut
        </p>
        <a href="" class="link-primary margin-bottom-popup" data-ng-click="toggleBreakDownState =! toggleBreakDownState">
            show breakdown <span class="" data-ng-class="toggleBreakDownState ? 'arrow-top-red' : 'arrow-bottom-red'"></span>
        </a>
        <div class="table-media" data-ng-class="toggleBreakDownState ? 'show' : 'hide'" data-ng-click="setSurveyForceNextStep('step-1')">
            <div ng-repeat="answer in selectedAnswers" ng-click="goHandler(answer.name, 'step1')" class="media">
                <div class="media-left">
                    <a href="">
                        <i class="icons-small icon icon {{answer.answer.icon}}"></i>
                    </a>
                </div>
                <div class="media-body" ng-bind-html="answer.title">
                </div>
                <div class="media-right">
                    <a class="link-primary">change answer</a>
                </div>
            </div>

        </div>
        <span class="contact btn white-text red-bg" data-ng-click="openContactPopup()"><span>contact us</span></span>
    </div>
</div>