<div id="popup" class="popup lot-money  {{surveyOpened == 'summary' ? 'popup-opener':  ''}}">
    <span  class="popup-bg"></span>
    <div class="popup-block">
        <h2 class="margin-bottom-popup">{{summarys[currentStep].title}}
        </h2>
        <button  class="popup-close" aria-label="Close" data-dismiss="alert" class="close" type="button" data-ng-click="surveyClose()">
            <i class="icon icon-no"></i>
        </button>
        <ul class="list-app-vs-web-ico list-unstyled">

            <li ng-repeat="icon in summarys[currentStep].icons" class="{{icon === 'vector-iphone-6' ? 'app':'web'}}">
                <span><img src="images/{{icon}}.png" alt="{{icon}}"></span>
            </li>
        </ul>
        <span class="popup-refresch"></span>
        <p class="margin-bottom-popup">{{summarys[currentStep].description}}</p>
        <a href="" class="link-primary margin-bottom-popup"  data-ng-click="toggleBreakDownState =! toggleBreakDownState">show breakdown
            <span class="" data-ng-class="toggleBreakDownState ? 'arrow-top-red' : 'arrow-bottom-red'"></span>
        </a>
        <div class="table-media" data-ng-class="toggleBreakDownState ? 'show' : 'hide'" data-ng-click="setSurveyForceNextStep('step-1')">
            <div ng-repeat="answer in selectedAnswers" ng-click="goHandler(answer.name, 'step9')" class="media">
                <div class="media-left">
                    <a href="">
                        <i class="icons-small icon icon {{answer.answer.icon}}"></i>
                    </a>
                </div>
                <div class="media-body" ng-bind-html="answer.title">
                </div>
                <div class="media-right">
                    <a class="link-primary">change answer</a>
                </div>
            </div>
        </div>
        <span class="btn white-text red-bg contact" data-ng-click="openContactPopup()"><span>contact us</span></span>
    </div>
</div>