<div class="popup popup-budget {{surveyOpened == 'question' ? 'popup-opener':  ''}}" ng-calss="surveyOpened == 'question' ? 'popup-opener':  ''">
    <span class="popup-bg">{{surveyOpened}}</span>
    <div class="popup-block">
        <h3 ng-bind-html="survey.title"></h3>
        <button class="popup-close" aria-label="Close" data-dismiss="alert" class="close" type="button" data-ng-click="surveyClose()">
            <i class="icon icon-no"></i>
        </button>
        <p ng-bind-html="survey.description" class="width-popup-txt"></p>
        <ul class="list-icons min-list-icons yes-or-not list-unstyled">
            <li ng-repeat="answer in survey.answers" ng-click="goHandler(answer.step, survey.name, answer.index)">
                <i class="icon" ng-class="answer.icon"></i>
                <span class="txt-list-icon">{{answer.title}}</span>
            </li>
        </ul>
        <div class="footer-price">
            <span class="price-txt">{{total}}$</span>
        </div>
    </div>
</div>
<div ng-include="'survey_summary'"></div>