<div class="contact-popup" ng-include=" 'contact-popup' "></div>
<header id="header" ng-include=" 'header' "></header>

<div class="main" ng-class="partition" team>
    <div class="team-block">
        <div class="team-visual">
            <img class="team-visual-img-01 active" src="" data-image-img="images/team-img-big-01.png" alt="image_description">
            <img class="team-visual-img-02" src="" data-image-img="images/team-img-big-01.png" alt="image_description">
            <img class="team-visual-img-03" src="" data-image-img="images/team-img-big-01.png" alt="image_description">
            <img class="team-visual-img-04" src="" data-image-img="images/team-img-big-01.png" alt="image_description">
        </div>
        <div class="team-description">
            <div class="team-description-info person-01 active">
                <h2>Andrew OUSLEY</h2>
                <span class="position">project coordinator</span>
                <ul class="social">
                    <li class="f"><a href="#"></a></li>
                    <li class="t"><a href="#"></a></li>
                    <li class="in"><a href="#"></a></li>
                </ul>
                <p>
                    Andrew handles client relations including<br>
                    intial project discussions and updates on<br>
                    progress. If you have a question about a<br>
                    potential or ongoing project, Andrew is a<br>
                    great place to start.
                </p>
            </div>
            <div class="team-description-info person-02">
                <h2>David</h2>
                <span class="position">project coordinator</span>
                <ul class="social">
                    <li class="f"><a href="#"></a></li>
                    <li class="t"><a href="#"></a></li>
                    <li class="in"><a href="#"></a></li>
                </ul>
                <p>
                    Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor
                    sit amet.Lorem ipsum dolor sit amet.
                </p>
            </div>
            <div class="team-description-info person-03">
                <h2>Matt</h2>
                <span class="position">project coordinator</span>
                <ul class="social">
                    <li class="f"><a href="#"></a></li>
                    <li class="t"><a href="#"></a></li>
                    <li class="in"><a href="#"></a></li>
                </ul>
                <p>
                    Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor
                    sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem
                    ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
                </p>
            </div>
            <div class="team-description-info person-04">
                <h2>Nick</h2>
                <span class="position">project coordinator</span>
                <ul class="social">
                    <li class="f"><a href="#"></a></li>
                    <li class="t"><a href="#"></a></li>
                    <li class="in"><a href="#"></a></li>
                </ul>
                <p>
                    Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor
                    sit amet.Lorem ipsum dolor sit amet.
                </p>
            </div>
            <div class="team-visual-control">
                <div class="control-block control-block-01 active"><span class="img"></span><span
                        class="name">Andrew</span></div>
                <div class="control-block control-block-02"><span class="img"></span><span class="name">David</span>
                </div>
                <div class="control-block control-block-03"><span class="img"></span><span class="name">MATT</span>
                </div>
                <div class="control-block control-block-04"><span class="img"></span><span class="name">NICK</span>
                </div>
            </div>
        </div>
    </div>
</div>

<a class="scroll-up" href="#header"></a>
<footer id="footer" ng-include=" 'footer' "></footer>