<!DOCTYPE html>
<html devices>
    <head>
        <!-- manifest="sm.appcache"-->
        <title>W3</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8"/>
        <meta name="title" content="W3"/>
        <meta name="description" content=""/>
        <meta name="keywords" content="digital exchange,bitcoin,BTC,cryptocurrency"/>
        <meta name="fragment" content="!" />
        <meta class="viewport" name="viewport" content="width=660" />
        <meta class="MobileOptimized" name="MobileOptimized" content="660" />
        <!-- browser-specific tags -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <link rel="stylesheet" type="text/css" media="all" href="css/main.css"/>
    </head>

    <body class="{{partition}}-page" ng-controller="partition_class_controller" data-wrapper-scroll>
        <div id="preloader-modal" class="cover active">
            <div class="loader"></div>
        </div>
        <div class="wrapper" data-ng-class="wrapper_class" data-ng-view="" data-scroll-links="" data-links-animation="" data-content-preloader="">

        </div><!-- /wrapper -->
        <script src='bower_components/requirejs/require.js' data-main='/js/main'></script>
    </body>
</html>
