// Global Variables
//
// This file creates the global variables across the entire site.
//

/* Colors ----------------------------------- */
/* ------------------------------------------ */

// base color for text: charcoal
@color-text:        #353B3C;
// base color for icons, links: red
@color-links:       #F0443C;
// base color for menu items, insets, diagrams: blue
@color-figures:     #4CCAE1;
// base color for supplemental items, icons, footer: green
@color-supplement:  #A8C461;
// base color for stars, highlights: yellow
@color-highlight:   #FDD45E;
// base background is white
@color-base:        #FFF;
// background color for error alerts
@color-error-bg:    #FFDEDD;

//Social Media Colors
@social-twitter-color: #55acee;
@social-facebook-color: #3b5998;


// Dark Grey: used mainly for strong borders
// 30% tint renders as #727677
@grey-dark: tint(@color-text, 30%);

// Medium Dark Grey: annotated text (e.g. captions)
// 50% tint renders as #9A9D9E
@grey-medium-dark: tint(@color-text, 50%);

// Medium Grey: navigational icons, borders on disabled buttons
// 70% tint renders as #C2C4C5
@grey-medium: tint(@color-text, 70%);

// Medium Light Grey: color of horizontal rules, table lines, dividers
// 80% tint renders as #D7D8D8
@grey-medium-light: tint(@color-text, 80%);

// Light Grey: background color for well text and disabled buttons,
// hover color if the initial background color is white
// 94% tint renders as #F3F3F3
@grey-light: tint(@color-text, 94%);

// Extra Light Grey is used only on bullseye for now
// 96% tint renders as #F7F7F7
@grey-extra-light: tint(@color-text, 96%);

/* ------------------------------------------ */
/* Paths ------------------------------------ */

@font-path:        "fonts/";
/* ------------------------------------------ */
/* ------------------------------------------ */

/* Shared Page Components ------------------- */
/* ------------------------------------------ */

// Forms

/* ------------------------------------------ */

/* iOS Media Queries ------------------------ */
/* ------------------------------------------ */
// usage example:
// @media @ipad {}
//
// use prefix mq

// All iPads in portrait & landscape
@mq-ipad:                   ~"only screen and (min-device-width : 768px) and (max-device-width : 1024px)";
// All iPads in landscape
@mq-ipad-landscape:         ~"only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)";
// All iPads in portrait
@mq-ipad-portrait:          ~"only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)";

// ipad Mini, iPad 1 & 2 in portrait & landscape
@mq-ipad-early:             ~"only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1)";
/*ipad Mini, iPad 1 & 2 in landscape*/
@mq-ipad-early-landscape:   ~"only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1)";
/*ipad Mini, iPad 1 & 2 in portrait*/
@mq-ipad-early-portrait:    ~"only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1)";

// Retina iPad (includes Mini Retina) in portrait & landscape
@mq-ipad-retina:            ~"only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2)";
// Retina iPad in landscape
@mq-ipad-retina-landscape:  ~"only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2)";
// Retina iPad in portrait
@mq-ipad-retina-portrait:   ~"only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2)";

// iPhone 2G, 3G, 4, 4S Media Queries
@mq-iphone-early:           ~"only screen and (min-device-width : 320px) and (max-device-width : 480px)";
// iPhone 2G-4S in landscape
@mq-iphone-early-landscape: ~"only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape)";
// iPhone 2G-4S in portrait
@mq-iphone-early-portrait:  ~"only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait)";

// iPhone 5 (includes 5C) in portrait & landscape
@mq-iphone-5:               ~"only screen and (min-device-width : 320px) and (max-device-width : 568px)";
// iPhone 5 in landscape
@mq-iphone-5-landscape:     ~"only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape)";
// iPhone 5 in portrait
@mq-iphone-5-portrait:      ~"only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait)";
/* ------------------------------------------ */
/* ------------------------------------------ */





/* Variables (Bootstrap) -------------------- */
// This file modifies the variables set in Boostrap variables.less
/* ------------------------------------------ */


// Global values
// --------------------------------------------------

// Brand colors
// -------------------------

@brand-primary:           @color-links;
@brand-success:           @color-supplement;
@brand-warning:           @color-highlight;

// Scaffolding
// -------------------------

@text-color:              @color-text;

// Links
// -------------------------

@link-color:              @color-links;
@link-hover-color:        @color-links;

// Typography
// -------------------------

@font-family-sans-serif:  Verdana, Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-armalite:    "armalite", Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-enigmatic:   "enigmatic", Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-greyscale:   "greyscale", Monaco, Menlo, Consolas, "Courier New", monospace;

@font-family-base:        @font-family-sans-serif;

@font-size-base:          1em;
@font-size-large:         @font-size-base;
@font-size-small:         @font-size-base;

@font-size-h1:            @font-size-base;
@font-size-h2:            @font-size-base;
@font-size-h3:            @font-size-base;
@font-size-h4:            @font-size-base;
@font-size-h5:            @font-size-base;
@font-size-h6:            @font-size-base;

@line-height-base:        1;
// the original logic for this line in variables.less indicates lack of
// understanding of visual presentation of typography.
@line-height-computed:    floor(@font-size-base * @line-height-base);

@headings-font-family:    @font-family-base;
@headings-font-weight:    400;
@headings-line-height:    1;
@headings-color:          inherit;

// Iconography
// -------------------------


// Components
// -------------------------
// Based on 14px font-size and 1.428 line-height (~20px to start)

// Tables
// -------------------------

@table-cell-padding:      1em;
@table-border-color:      @grey-medium-light;

// Buttons
// -------------------------

// Forms
// -------------------------

// Dropdowns
// -------------------------

// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)


// Navbar
// -------------------------

// Basics of a navbar
// @navbar-height:                    (@font-size-base * 5);
@navbar-height:           5rem;

// Navs
// -------------------------

@nav-link-hover-bg:       @grey-light;


// Form states and alerts
// -------------------------

// Tooltips
// -------------------------

// Popovers
// -------------------------

@popover-max-width:       40rem;

// Labels
// -------------------------

// Modals
// -------------------------

// @modal-inner-padding:         20px;

// @modal-title-padding:         15px;
// @modal-title-line-height:     @line-height-base;

// @modal-content-bg:                             #fff;
// @modal-content-border-color:                   rgba(0,0,0,.2);
// @modal-content-fallback-border-color:          #999;

// @modal-backdrop-bg:           #000;
// @modal-header-border-color:   #e5e5e5;

// Alerts
// -------------------------

// Progress bars
// -------------------------
@progress-bg:                   @color-base;
@progress-bar-color:            @color-text;
@progress-bar-bg:               @color-supplement;

// List group
// -------------------------

// Panels
// -------------------------

// Thumbnails
// -------------------------

// Wells
// -------------------------

// Badges
// -------------------------

// Breadcrumbs
// -------------------------

// Carousel
// ------------------------

// Close
// ------------------------

// Code
// ------------------------

// Type
// ------------------------

// this is color for annotated text
@headings-small-color:        @grey-medium-dark;

// Miscellaneous
// -------------------------

// Hr border color
@hr-border:                   @grey-medium-light;



// -------------------------

// Breadcrumbs
// -------------------------

// Carousel
// ------------------------

// Close
// ------------------------

// Code
// ------------------------

// Type
// ------------------------

// this is color for annotated text
@headings-small-color:        @grey-medium-dark;

// Miscellaneous
// -------------------------

// Hr border color
@hr-border:                   @grey-medium-light;

// Container sizes
// --------------------------------------------------

// Small screen / tablet
// 12 columns of 64 pixels each makes 768
@container-tablet:              (768px);
@container-sm:                  @container-tablet;

// Medium screen / desktop
// 12 columns of 80 pixels each makes 960
@container-desktop:             (960px);
@container-md:                  @container-desktop;

// Large screen / wide desktop
// 12 columns of 96 pixels each makes 1152
@container-large-desktop:       (1152px);
@container-lg:                  @container-large-desktop;

// Large screen / wide desktop
// 12 columns of 108 pixels each makes 1296
@container-xlarge-desktop:      (1296px);
@container-xl:                  @container-xlarge-desktop;






@default-width: 						1200px;
@default-padding: 						0;
@default-row_margin: 					0 auto;
@default-colspan: 						1;
@default-total_cols:    				12;
@default-gutter:        				0;
@default-margin_top:    				0;
@default-margin_bottom: 				0;

// Base colors
// -------------------------------------------

@white: 				#ffffff;
@gray:          #212225;
@add-gray:      #746d71;
@red:           #c00319;
@add-red:       #c5364a;
@gray-light:    #ececec;
@gray-add:    #616164;
@light-bg:    #f7f7f7;


